:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.leftSide, .rightSide {
  display:flex;
}

.ngoPic {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 3px;
  margin-right: 10px;
}

.opportunityName {
  font-size: 18px;
  margin-bottom: 7px;
}

.applicationText, .ngoName {
  font-size: 12px;
}

img {
  height: 20px;
  cursor: pointer;
  margin: 10px;
}

.alert {
  color: red;
  font-size: 12px;
}