mat-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}

.leftSideNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search {
  display: flex;
  align-items: center;
  color: #0E3D5E;
}

.search img {
  height: 20px;
  margin-right: 5px;
}

.search input {
  height: 30px;
  border: none;
  width: 170px;
  font-weight: lighter;
  font-size: 18px;
  outline: none;
  color: #0E3D5E;
  background: none;
}

.logo {
  height: 38px;
  cursor: pointer;
  outline: none;
  margin-right: 40px;
}

.rightSideNav {
  display: flex;
  align-items: center;
}

.rightSideNav p {
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  color: #0E3D5E;
}

.userNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 10px;
}

.profilePicNavBar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  align-self: baseline;
  margin-right: 15px;
}

.userNavbar img {
  height: 8px;
  margin-left: 7px;
  cursor: pointer;
}

app-login {
  margin-left: 10px;
}

.rightSideNavHamb {
  display: none;
  height: 30px;
}

.rightSideNavHamb img {
  height: 20px;
  cursor: pointer;
  outline: none;
}

@media (min-width: 0px) and (max-width: 730px) {
  mat-toolbar {
    padding: 0 20px;
  }

  app-login {
    margin-right: 10px;
  }

  .buttons {
    display: none;
  }

  .logo {
    margin-right: 20px;
  }
  .search input {
    width: 70px;
  }

  .search img {
    margin-right: 0;
  }

  .userNavbar, .all {
    display: none;
  }
  .rightSideNavHamb {
    display: block;
    margin-left: 15px;
  }
}