<mat-toolbar color="none">
  <img class='logo' src="/assets/logoBlue.png" alt="" routerLink=''>
  <div class="rightSideNav">
    <p routerLink='/all-opportunities'>All Opportunities</p>
    <p routerLink='/all-ngos'>All NGOs</p>
    <div *ngIf="currentUser.isLoggedIn" class="userNavbar">
      <div [ngStyle]="{'background-image': 'url(' + currentUser.user.image + ')'}" class="profilePicNavBar"></div>
      <p [matMenuTriggerFor]="menu">{{ currentUser.user.name }}</p>
      <img mat-button [matMenuTriggerFor]="menu" src="/assets/icons/down.png" alt="">
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf='currentUser.isNgo' routerLink='/ngo/{{currentUser.user.id}}'>Profile</button>
        <button mat-menu-item *ngIf='!currentUser.isNgo' routerLink='/volunteer/{{currentUser.user.id}}'>Profile</button>
        <button mat-menu-item (click)='openSettings()'>Settings</button>
        <button mat-menu-item (click)='logOut()'>Log-out</button>
      </mat-menu>
    </div>
    <app-login *ngIf="!currentUser.isLoggedIn"></app-login>
  </div>
</mat-toolbar>