  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
