<div class="cardsContainer">
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
  <app-opportunitycard></app-opportunitycard>
</div>