<mat-dialog-content>
  <div *ngIf='applications.length > 0' class="applicationsContainer">

    <div *ngFor='let application of applications' class="applicationCard">
      <div class="volunteerPic" [ngStyle]="{'background-image': 'url(' + application.volunteerData.image + ')'}"
        (click)='goToApplicant()' routerLink='/volunteer/{{application.volunteerId}}'></div>
      <div class="volunteerInfo">
        <p class="volunteerName" (click)='goToApplicant()' routerLink='/volunteer/{{application.volunteerId}}'>
          {{application.volunteerData.name}}</p>
        <p class="volunteerText">{{application.text}}</p>
      </div>
    </div>

  </div>

  <div *ngIf='applications.length == 0' class="noApplications">
    No applications yet :(
  </div>
</mat-dialog-content>