.applicationsContainer {
  width: 60vw;
}

.applicationCard {
  display: flex;
}

.volunteerPic {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 3px;
  margin-right: 10px;
}

.volunteerName {
  font-size: 18px;
  margin-bottom: 7px;
}

.volunteerText {
  font-size: 12px;
}