.applicationsContainer {
  width: 60vw;
}

.applicationCard {
  display: flex;
}

.volunteerPic {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.volunteerName {
  font-size: 18px;
  margin-bottom: 7px;
  cursor: pointer;
  outline: none;
}

.volunteerText {
  font-size: 12px;
}