.applicationsContainer {
  width: 60vw;
}

.applicationCard {
  display: flex;
  margin: 10px 0;
}

.ngoPic {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 3px;
  margin-right: 10px;
}

.opportunityName {
  font-size: 18px;
  margin-bottom: 7px;
}

.applicationText, .ngoName {
  font-size: 12px;
}