<div *ngIf='applications.length > 0' class="applicationsContainer">
  <div *ngFor='let application of applications' class="applicationCard">
    <div class="leftSide">
      <!-- <div class="ngoPic"></div> -->
      <div class="opportunityInfo">
        <p class="opportunityName">{{application.opportunityData.name}}</p>
        <p class="ngoName">{{application.opportunityData.ngoName}}</p>
        <p class="applicationText">{{application.text}}</p>
      </div>
    </div>
    <div class="rightSide">
      <img src="../../../../assets/icons/edit.png" alt="">
      <img src="../../../../assets/icons/trash-red.png" alt="">
    </div>
  </div>
</div>

<div *ngIf='applications.length == 0' class="noApplications">
  No applications yet :(
</div>