:host {
  height: 250px;
  color: #0E3D5E;
  padding: 20px;
}

.opportunity {
  min-width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  width: 70%;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}

h3:hover {
  text-decoration: underline;
}

.rightContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.rightContainer img {
  height: 35px;
  cursor: pointer;
}

h4 {
  font-size: 36px;
  font-weight: 400;
}

.rightContainer p {
  font-weight: bold;
  font-size: 22px;
  color: #E99D3A;
}

.btn {
  background-color: #0E3D5E;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  outline: none;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.apply {
  margin-top: 30px;
  /* border: 1px solid red; */
}

.apply label {
  margin-bottom: 10px;
  font-weight: bold;
}

.apply form {
  display: flex;
  flex-direction: column;
}

.apply .submit {
  background-color: #0E3D5E;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  outline: none;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  align-self: flex-end;
}

.alert {
  color: red;
  font-size: 12px;
}

.prerequisitesList {
  margin-top: 20px;
  list-style: none;
}

.prerequisitesTitle {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

.prerequisite {
  margin-bottom: 4px;
}