<div class="opportunity">
  <div class="leftContainer">
    <h2>{{opportunity.name}}</h2>
    <h3 routerLink='/ngo/{{opportunity.ngo.id}}'>{{opportunity.ngo.name}}</h3>
    <p>{{opportunity.about}}</p>
  </div>

  <div class="rightContainer">
    <div>
      <h4>9h</h4>
      <p>per week</p>
    </div>
    <button class="btn" (click)='applyClicked()' *ngIf='!applying'>Apply now!</button>
  </div>
</div>

<div *ngIf='applying' class="apply">
  <form [formGroup]="applyForm" (ngSubmit)="formSubmit()">
    <label>Tell us, why do you want this opportunity?: </label>
    <!-- <mat-form-field> -->
      <textarea required formControlName="apply" #apply rows="10" cols="80"> </textarea>
      <!-- <mat-error *ngIf='apply.invalid'>Please fill all form</mat-error> -->
    <!-- </mat-form-field> -->
    <input class="btn" class="submit" type="submit">
  </form>
</div>