<div class="coverContainer">
  <div class="coverImage" >
    <img id='cloud1' src="/assets/cover/cloud1.png" alt="" [ngStyle]='cloud1'>
    <img id='cloud2' src="/assets/cover/cloud2.png" alt="" [ngStyle]='cloud2'>
    <img id='cloud3' src="/assets/cover/cloud3.png" alt="" [ngStyle]='cloud3'>
    <img id='cloud4' src="/assets/cover/cloud4.png" alt="" [ngStyle]='cloud4'>
    <img id='cloud5' src="/assets/cover/cloud1.png" alt="" [ngStyle]='cloud5'>
    <img id='cloud6' src="/assets/cover/cloud2.png" alt="" [ngStyle]='cloud1'>
    <img id='earth' src="/assets/cover/earth.png" alt="">
    <img id='people' src="/assets/cover/people.png" alt="">
  </div>
  <div class="slogan">
    <h2>Ready to change the world?</h2>
    <img src="/assets/fullLogo.png" class="logo">
  </div>
</div>