<div class="mapContainer">
    <div class="search" >
  <mat-form-field>
    <input type="text" matInput  [matAutocomplete]="auto" type="text">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>
</mat-form-field>
</div>

  <img class="loc" src="../../../../assets/icons/findme.png" alt="" (click)='locateMe()'>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [styles]="disableStyles">
    <agm-marker [latitude]="41.386399" [longitude]="2.144758"></agm-marker>
  </agm-map>
</div>
