<form class="table-container" [formGroup]="ngoProfile" (ngSubmit)="submitNGO()">
  <h1 mat-dialog-title>You are almost our member :)</h1>
  <mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="usernameForm"
      placeholder="username"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="imageForm" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="descriptionForm" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="websiteForm" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="addressForm" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="emailForm" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="phoneForm" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit">Submit</button>
</mat-dialog-actions>
</form>
