<form [formGroup]="ngoProfile" (ngSubmit)="submitNGO()">
  <h1 mat-dialog-title>You are almost our member :)</h1>
  <mat-dialog-content class="table-container">
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="orgNameForm"
      placeholder="ONG name" required
      [ngClass]="{ 'is-invalid': submitted && fields.orgNameForm.errors }"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="about" type="text" formControlName="descriptionForm" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="website" formControlName="websiteForm"/>
  </mat-form-field>
  <h3>Your contact data</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="address" formControlName="addressForm" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="email" formControlName="emailForm" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="phone number" formControlName="phoneForm" required/>
  </mat-form-field>
    <app-form-validator [displayError]="!isValid" [errorMsg]="'Please fill in and check the mandatory fields'"></app-form-validator>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</mat-dialog-actions>
</form>
