<form [formGroup]="formData" (ngSubmit)="submitVolunteer()">
  <h1 mat-dialog-title>You are almost our member!</h1>

  <label>Name:</label>
  <input class="input" type="text" formControlName="nameForm">

  <label>If you want, tell the NGOs something about yourself:</label>
  <textarea formControlName="aboutForm" rows="10" cols="80"> </textarea>

  <label>Birthday:</label>
  <div class="birth">
    <input [matDatepicker]="picker" class="birthInput" type="text" formControlName="dateOfBirthForm">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>

  <input class="submit" type="submit">

</form>
