h1 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin: 10px 0;
}

.input {
  height: 40px;
  width: 100%;
}

.submit {
  color: white;
  background-color: #0E3D5E;
  box-shadow: 6px 12px 16px -12px rgba(0,0,0,0.35), -6px -6px 16px -12px rgba(0,0,0,0.35);
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 14px;
  align-self: flex-end;
}

.birth {
  width: 100%;
}

.birthInput {
  height: 40px;
  width: 40%;
}