<div class="userContainer">
  <div class="userActions">
    <div class="profilePicture" [ngStyle]="{'background-image': 'url(' + currentUser.user.image + ')'}"></div>
    <button class="delete" (click)='deleteProfile()' type="button">
      <img src="/assets/icons/trash-red.png" alt="">
      Delete Profile
    </button>
  </div>
  <div class="userInfo">
    <form [formGroup]="settingsForm" (ngSubmit)="formSubmit()">
      <label>Name:</label>
      <input class='input' formControlName="name" type="text">
      <p class="alert" *ngIf='settingsForm.get("name").touched && settingsForm.get("name").invalid'>Name must be filled
      </p>

      <label class="about">About:</label>
      <textarea formControlName="about" rows="10" cols="80"> </textarea>
      <p class="alert" *ngIf='settingsForm.get("about").touched && settingsForm.get("about").invalid'>About must be
        filled</p>

      <div formGroupName="address">
        <h3>Address</h3>

        <label>Country:</label>
        <select type="text" formControlName="country">
          <option *ngFor="let country of countries" [ngValue]="country">{{ country }}</option>
        </select>
      
        <label>Street:</label>
        <input type="text" class='input' formControlName="street">
      
        <label>City:</label>
        <input type="text" class='input' formControlName="city">
        
        
        <label>State/Region:</label>
        <input type="text" class='input' formControlName="region">
      
        <label>Postal code:</label>
        <input type="text" class='input' formControlName="postalCode">

      </div>

      <label>Phone:</label>
      <input class='input' formControlName="phone" type="text">
      <p class="alert" *ngIf='settingsForm.get("phone").touched && settingsForm.get("phone").invalid'>Phone must be
        filled</p>

      <label>Website:</label>
      <input class='input' formControlName="website" type="text">

      <input class="submit" type="submit">

    </form>
  </div>
</div>