<div class="blueCover">
</div>

<div class="profile" *ngIf='profileVolunteer'>
  <div class="upperContainer">
    <div class="profilePicture" [ngStyle]="{'background-image': 'url(' + profileVolunteer.image + ')'}"></div>
    <h2 class="name">{{profileVolunteer.name}}</h2>
    <!-- <div class="volunteerInfo"> -->
    <!-- </div> -->
  </div>
  <p class="description">{{profileVolunteer.about}}</p>
  <button class="seeApplications" *ngIf='currentUser && volunteerOwner' (click)='seeApplications()'>See Applications</button>
</div>