<mat-toolbar color="none">
  <img class='logo' src="../../assets/logoBlue.png" alt="" >
  <div *ngIf="(userDetails$ | async) as user" class="userNavbar">
    <div [ngStyle]="{'background-image': 'url(' + userDetails$.photoURL + ')'}" class="profilePicNavBar"></div>
    <p>{{ userDetails$.displayName }}</p>
    <img mat-button [matMenuTriggerFor]="menu" src="../../assets/icons/down.png" alt="">
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink='volunteer'>Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Log-out</button>
    </mat-menu>
  </div>
  <app-login *ngIf="!(userDetails$ | async)"></app-login>
</mat-toolbar>
