.starsContainer {
  display: flex;
  width: 130px;
  justify-content: flex-start;
}

.star {
  height: 20px;
  width: 20px;
  /* margin: 0 2px; */
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.star:hover {
  background-image: url('/assets/icons/star-full.png');
}