.starsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stars{
  display: flex;
}

.star {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.star:hover {
  background-image: url('/assets/icons/star-full.png');
}

button {
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: #F4A42C;
  font-size: 13px;
  font-weight: 500;
}

button:hover {
  color: rgb(180, 108, 0);
}