<div class="blueCover">
</div>

<div class="profile" *ngIf='ngo'>
  <div class="upperContainer">
    <div class="profilePicture"></div>
    <div class='ngoInfo'>
      <h2 class="name">{{ngo.name}}</h2>
      <p>{{ngo.contact.website}}</p>
      <p>{{ngo.contact.phone}}</p>
      <p>{{ngo.contact.address}}</p>
    </div>
  </div>

  <p class="description">{{ngo.about}}</p>

  <div class="opportunitiesList" *ngIf='ngo.opportunity'>
    <div class="createNewOpportunity" (click)='openCreateOpportunity()'>+</div>
    <app-opportunity-card-admin></app-opportunity-card-admin>
    <app-opportunity-card-admin></app-opportunity-card-admin>
    <app-opportunity-card-admin></app-opportunity-card-admin>
    <app-opportunity-card-admin></app-opportunity-card-admin>
    <app-opportunity-card-admin></app-opportunity-card-admin>
    <app-opportunity-card-admin></app-opportunity-card-admin>
  </div>
</div>