form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
}

.input {
  height: 40px;
}

.submit {
  margin-top: 20px;
  color: white;
  background-color: #0E3D5E;
  box-shadow: 6px 12px 16px -12px rgba(0,0,0,0.35), -6px -6px 16px -12px rgba(0,0,0,0.35);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 16px;
  align-self: flex-end;
  outline: none;
}

.alert {
  color: red;
  font-size: 12px;
}

@media (min-width: 0px) and (max-width: 630px) {
  .submit {
    height: 32px;
    width: 70px;
    font-size: 13px;
  }
}