<form [formGroup]="createOpportunityForm" (ngSubmit)="formSubmit()">
  <label> Title:</label>
  <input required class="input" type="text" formControlName="title">

  <label> Description: </label>
  <textarea required formControlName="description" rows="10" cols="80"> </textarea>

  <label> Location:</label>
  <input required class="input" type="text" formControlName="location">

  <label> Pre Requisites:</label>
  <input required class="input" type="text" formControlName="preRequisites">

  <input class="submit" type="submit">
</form>