<form *ngIf="formData && currentUser" [formGroup]="formData" (ngSubmit)="submitNGO()">
  <h1 mat-dialog-title>You almost our member!</h1>

  <label>NGO name: *</label>
  <input class="input" type="text" formControlName="orgNameForm">

  <label>Category: *</label>
  <select formControlName="categoryForm">
    <option *ngFor='let category of categoriesList' value='{{category}}'>{{category}}</option>
  </select>
  <p class="alert" *ngIf='formData.get("categoryForm").touched && formData.get("categoryForm").invalid'>Category must be chosen</p>

  <label>Description: *</label>
  <textarea formControlName="descriptionForm" rows="10" cols="80"></textarea>

  <label>Website:</label>
  <input class="input" type="text" formControlName="websiteForm">

  <div formGroupName="address">
      <h3>Address</h3>

      <label>Country:</label>
      <select type="text" formControlName="country">
        <option *ngFor="let country of countries" [ngValue]="country">{{ country }}</option>
      </select>

      <label>Street:</label>
      <input type="text" class='input' formControlName="street">

      <label>City:</label>
      <input type="text" class='input' formControlName="city">


      <label>State/Region:</label>
      <input type="text" class='input' formControlName="region">

      <label>Postal code:</label>
      <input type="text" class='input' formControlName="postalCode">

    </div>

  <label>E-mail: *</label>
  <input class="input" type="text" formControlName="emailForm">

  <label>Phone number:</label>
  <input class="input" type="text" formControlName="phoneForm">

  <input class="submit" type="submit">
</form>
