<form [formGroup]="ngoProfile" (ngSubmit)="submitNGO()">
  <h1 mat-dialog-title>You almost our member</h1>
  <mat-dialog-content class="table-container">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="orgNameForm"
        placeholder="ONG name"
        #orgNameForm
        required
      />
      <mat-error *ngIf="orgNameForm.required">
        Please enter your organization name
      </mat-error>
      <mat-error *ngIf="descriptionForm.minLength"
      >The name must have minimum 2 characters</mat-error
    >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="about"
        type="text"
        formControlName="descriptionForm"
        #descriptionForm
        required
      />
      <mat-error *ngIf="descriptionForm.required"
        >Please enter your description</mat-error
      >
      <mat-error *ngIf="descriptionForm.minLength"
      >Please enter a text with a length of minimum 20</mat-error
    >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="website"
        formControlName="websiteForm"
      />
    </mat-form-field>
    <h3>Your contact data</h3>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="address"
        formControlName="addressForm"
        #addressForm
        required
      />
      <mat-error *ngIf="addressForm.required"
        >Please enter your address</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="email"
        #email
        formControlName="emailForm"
        required
      />
      <mat-error *ngIf="email.required">Please enter your email</mat-error>
      <mat-error *ngIf="email.email">You entered an invalid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="phone number"
        formControlName="phoneForm"
        required
        #phone
      />
      <mat-error *ngIf="phone.required">Please enter your phone number</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
